@import "../../../node_modules/normalize.scss/normalize";

.stage {
  background: #000;
  canvas {
    border-radius: 6px;
    margin: 0 auto;
  }
}
.player {
  button {
    width: 33.3333vw;
    height: 50vh;
  }
}
