@import (less) "../../../node_modules/normalize.css/normalize.css";

.stage {
  background: #000;
  canvas {
    border-radius: 6px;
    margin: 0 auto;
  }
}
.player {
  button {
    width: 100%;
    height: auto;
  }
}
